<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wired Endpoints</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/script/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/controller/common.js"></script>
  <script src="/controller/wired.js"></script>
  
</head>
<body ng-app="deviceInfo" >
  <div ng-controller="wiredCtrl">
    <div class="container" >
      <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/welcome">Home</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>

      <nav class="navbar navbar-light" style="background-color: #f1f1f1; margin-top: 10px;">
        <!--<div class="navbar-header">
          <a class="navbar-brand" href="#">Device Parameters</a>
        </div>-->
        <div class="container " id="myNavbar">
          <ul class="nav navbar-nav">
            <li ><div class="well"><a href="/devparams/<%- devId%>">Common Configurations</a></div></li>
            <li class="active"><div class="well"><h4>Wired End Points</h4></div></li>
            <li><div class="well"><a href="#">Wireless End Points</a></div></li>
            <li><div class="well"><a href="#">FW Update</a></div></li>
          </ul>
        </div>
      </nav>

    </div>
    <div class="container" ng-init="devId = '<%- devId%>';ipAddr = '<%- ipAddr%>';">    
      <div class="row content" style="margin: 3px;">
        <div class="col-sm-2 sidenav">
          
          <div class="well" ng-if="wiredpoints=='ai'"><h4>Analog Inputs</h4></div>
          <div class="well" ng-if="wiredpoints!='ai'"><a href="#" ng-click="changeVal('ai')">Analog Inputs</a></div>
          
          <div class="well" ng-if="wiredpoints=='di'"><h4>Digital Inputs</h4></div>
          <div class="well" ng-if="wiredpoints!='di'"><a href="#" ng-click="changeVal('di')">Digital Inputs</a></div>

          <div class="well" ng-if="wiredpoints=='ao'"><h4>Analog Outputs</h4></div>
          <div class="well" ng-if="wiredpoints!='ao'"><a href="#" ng-click="changeVal('ao')">Analog Outputs</a></div>

          <div class="well" ng-if="wiredpoints=='do'"><h4>Digital Outputs</h4></div>
          <div class="well" ng-if="wiredpoints!='do'"><a href="#" ng-click="changeVal('do')">Digital Outputs</a></div>
        
          <div class="well" ng-if="wiredpoints=='ei'"><h4>Encoder Inputs</h4></div>
          <div class="well" ng-if="wiredpoints!='ei'"><a href="#" ng-click="changeVal('ei')">Encoder Inputs</a></div>

        </div>
        <div class="col-sm-8" ng-if="wiredpoints=='ai'"> 
          <!--<form >
            <input type="hidden" ng-init="devId='<%- devId %>'">
            <input type="hidden" ng-init="ipAddr='<%- ipAddr %>'">-->
            <table class="table table-hover">
              <tr class="active">
                <th>&nbsp;</th>
                <th>Enable / Disbale</th>
                <th>Name</th>
                <th>Scalefactor</th>
                <th>Offset</th>
                <th>Rate</th>
              </tr>
              <tr>
                <td></td>
                <td><input type="checkbox" class="form-control" ng-model="analog1.STATUS"></td>
                <td><input type="text" class="form-control" ng-model="analog1.NAME"></td>
                <td><input type="text" class="form-control" ng-model="analog1.SCALEFACTOR"></td>
                <td><input type="text" class="form-control" ng-model="analog1.OFFSET"></td>
                <td><select class="form-control" ng-model="analog1.RATE">
                    <option  value='' selected>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="checkbox" class="form-control" ng-model="analog2.STATUS"></td>
                <td><input type="text" class="form-control" ng-model="analog2.NAME"></td>
                <td><input type="text" class="form-control" ng-model="analog2.SCALEFACTOR"></td>
                <td><input type="text" class="form-control" ng-model="analog2.OFFSET"></td>
                <td><select class="form-control" ng-model="analog2.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="checkbox" class="form-control" ng-model="analog3.STATUS"></td>
                <td><input type="text" class="form-control" ng-model="analog3.NAME"></td>
                <td><input type="text" class="form-control" ng-model="analog3.SCALEFACTOR"></td>
                <td><input type="text" class="form-control" ng-model="analog3.OFFSET"></td>
                <td><select class="form-control" ng-model="analog3.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="checkbox" class="form-control" ng-model="analog4.STATUS"></td>
                <td><input type="text" class="form-control" ng-model="analog4.NAME"></td>
                <td><input type="text" class="form-control" ng-model="analog4.SCALEFACTOR"></td>
                <td><input type="text" class="form-control" ng-model="analog4.OFFSET"></td>
                <td><select class="form-control" ng-model="analog4.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="checkbox" class="form-control" ng-model="analog5.STATUS"></td>
                <td><input type="text" class="form-control" ng-model="analog5.NAME"></td>
                <td><input type="text" class="form-control" ng-model="analog5.SCALEFACTOR"></td>
                <td><input type="text" class="form-control" ng-model="analog5.OFFSET"></td>
                <td><select class="form-control" ng-model="analog5.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="checkbox" class="form-control" ng-model="analog6.STATUS"></td>
                <td><input type="text" class="form-control" ng-model="analog6.NAME"></td>
                <td><input type="text" class="form-control" ng-model="analog6.SCALEFACTOR"></td>
                <td><input type="text" class="form-control" ng-model="analog6.OFFSET"></td>
                <td><select class="form-control" ng-model="analog6.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="checkbox" class="form-control" ng-model="analog7.STATUS"></td>
                <td><input type="text" class="form-control" ng-model="analog7.NAME"></td>
                <td><input type="text" class="form-control" ng-model="analog7.SCALEFACTOR"></td>
                <td><input type="text" class="form-control" ng-model="analog7.OFFSET"></td>
                <td><select class="form-control" ng-model="analog7.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="checkbox" class="form-control" ng-model="analog8.STATUS"></td>
                <td><input type="text" class="form-control" ng-model="analog8.NAME"></td>
                <td><input type="text" class="form-control" ng-model="analog8.SCALEFACTOR"></td>
                <td><input type="text" class="form-control" ng-model="analog8.OFFSET"></td>
                <td><select class="form-control" ng-model="analog8.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
            </table>
          </form>
        </div>

        <div class="col-sm-8" ng-if="wiredpoints=='di'"> 
          <form >
            <!--<input type="hidden" ng-init="devId='<%- devId %>'">
            <input type="hidden" ng-init="ipAddr='<%- ipAddr %>'">-->
            <table class="table table-hover">
              <tr class="active">
                
                <th>Enable / Disbale</th>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>ON State Label</th>
                <th>OFF State Label</th>
                <th>Rate</th>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="digital1.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="digital1.NAME"></td>
                <td><input type="text" class="form-control" ng-model="digital1.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="digital1.OFFLABEL"></td>
                <td><select class="form-control" ng-model="digital1.RATE">
                    <option selected value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="digital2.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="digital2.NAME"></td>
                <td><input type="text" class="form-control" ng-model="digital2.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="digital2.OFFLABEL"></td>
                <td><select class="form-control" ng-model="digital2.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="digital3.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="digital3.NAME"></td>
                <td><input type="text" class="form-control" ng-model="digital3.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="digital3.OFFLABEL"></td>
                <td><select class="form-control" ng-model="digital3.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="digital4.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="digital4.NAME"></td>
                <td><input type="text" class="form-control" ng-model="digital4.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="digital4.OFFLABEL"></td>
                <td><select class="form-control" ng-model="digital4.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="digital5.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="digital5.NAME"></td>
                <td><input type="text" class="form-control" ng-model="digital5.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="digital5.OFFLABEL"></td>
                <td><select class="form-control" ng-model="digital5.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="digital6.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="digital6.NAME"></td>
                <td><input type="text" class="form-control" ng-model="digital6.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="digital6.OFFLABEL"></td>
                <td><select class="form-control" ng-model="digital6.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="digital7.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="digital7.NAME"></td>
                <td><input type="text" class="form-control" ng-model="digital7.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="digital7.OFFLABEL"></td>
                <td><select class="form-control" ng-model="digital7.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="digital8.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="digital8.NAME"></td>
                <td><input type="text" class="form-control" ng-model="digital8.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="digital8.OFFLABEL"></td>
                <td><select class="form-control" ng-model="digital2.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
            </table>
          </form>
        </div>


        <div class="col-sm-8" ng-if="wiredpoints=='ao'"> 
          <form >
            <table class="table table-hover">
              <tr class="active">
                <th>&nbsp;</th>
                <th>Enable / Disbale</th>
                <th>Name</th>
                <th>Scalefactor</th>
                <th>Offset</th>
                <th>Rate</th>
              </tr>
              <tr>
                <td></td>
                <td><input type="checkbox" class="form-control" ng-model="aout1.STATUS"></td>
                <td><input type="text" class="form-control" ng-model="aout1.NAME"></td>
                <td><input type="text" class="form-control" ng-model="aout1.SCALEFACTOR"></td>
                <td><input type="text" class="form-control" ng-model="aout1.OFFSET"></td>
                <td><select class="form-control" ng-model="aout1.RATE">
                    <option selected value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td></td>
                <td><input type="checkbox" class="form-control" ng-model="aout2.STATUS"></td>
                <td><input type="text" class="form-control" ng-model="aout2.NAME"></td>
                <td><input type="text" class="form-control" ng-model="aout2.SCALEFACTOR"></td>
                <td><input type="text" class="form-control" ng-model="aout2.OFFSET"></td>
                <td><select class="form-control" ng-model="aout2.RATE">
                    <option value=''>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
            </table>
          </form>
        </div>

        <div class="col-sm-8" ng-if="wiredpoints=='do'"> 
          <form >
            <table class="table table-hover">
              <tr class="active">
                <th>Enable / Disbale</th>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>ON State Label</th>
                <th>OFF State Label</th>
                <th>Rate</th>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="dout1.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="dout1.NAME"></td>
                <td><input type="text" class="form-control" ng-model="dout1.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="dout1.OFFLABEL"></td>
                <td><select class="form-control" ng-model="dout1.RATE">
                    <option selected>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="dout2.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="dout2.NAME"></td>
                <td><input type="text" class="form-control" ng-model="dout2.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="dout2.OFFLABEL"></td>
                <td><select class="form-control" ng-model="dout2.RATE">
                    <option >Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="dout3.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="dout3.NAME"></td>
                <td><input type="text" class="form-control" ng-model="dout3.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="dout3.OFFLABEL"></td>
                <td><select class="form-control" ng-model="dout3.RATE">
                    <option selected>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="dout4.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="dout4.NAME"></td>
                <td><input type="text" class="form-control" ng-model="dout4.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="dout4.OFFLABEL"></td>
                <td><select class="form-control" ng-model="dout4.RATE">
                    <option selected>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="dout5.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="dout5.NAME"></td>
                <td><input type="text" class="form-control" ng-model="dout5.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="dout5.OFFLABEL"></td>
                <td><select class="form-control" ng-model="dout5.RATE">
                    <option selected>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="dout6.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="dout6.NAME"></td>
                <td><input type="text" class="form-control" ng-model="dout6.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="dout6.OFFLABEL"></td>
                <td><select class="form-control" ng-model="dout6.RATE">
                    <option selected>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="dout7.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="dout7.NAME"></td>
                <td><input type="text" class="form-control" ng-model="dout7.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="dout7.OFFLABEL"></td>
                <td><select class="form-control" ng-model="dout7.RATE">
                    <option selected>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
              <tr>
                <td><input type="checkbox" class="form-control" ng-model="dout8.STATUS"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="dout8.NAME"></td>
                <td><input type="text" class="form-control" ng-model="dout8.ONLABEL"></td>
                <td><input type="text" class="form-control" ng-model="dout8.OFFLABEL"></td>
                <td><select class="form-control" ng-model="dout8.RATE">
                    <option selected>Select</option>
                    <option value='0'>1 Min</option>
                    <option value='1'>2 Min</option>
                    <option value='2'>3 Min</option>
                    <option value='3'>4 Min</option>
                    <option value='4'>5 Min</option>
                    <option value='5'>10 Min</option>
                    <option value='6'>15 Min</option>
                    <option value='7'>20 Min</option>
                    <option value='8'>25 Min</option>
                    <option value='9'>30 Min</option>
                    <option value='10'>1 Hour</option>
                    <option value='11'>5 Hours</option>
                    <option value='12'>10 Hours</option>
                    <option value='13'>15 Hours</option>
                    <option value='14'>20 Hours</option>
                    <option value='15'>24 Hours</option>
                  </select></td>
              </tr>
            </table>
          </form>
        </div>

        <div class="col-sm-8" ng-if="wiredpoints=='ei'">
        </div>

        <div class="col-sm-2 sidenav">
          <div >
            <div class="well">
              <p>Device List:</p>
            </div>
            <div class="well">
                <ul>
                    <li ng-repeat="dev in devList">
                      <i class="glyphicon glyphicon-stop offline " ng-if="!dev.status"></i>
                      <i class="glyphicon glyphicon-stop online" ng-if="dev.status"></i>
                      <a href="" ng-click="getAnalogInfo(dev.ipAddress, dev.deviceId)"> 
                          <span ng-bind="devName = dev.aliasName==null? dev.deviceId : dev.aliasName"></span>
                      </a>
                      <i class="glyphicon glyphicon-hand-left" ng-if="dev.deviceId==devId"></i>
                  </li>
                </ul>
            </div>
            
          </div>
          <div>
            <table>
              <tr>
                <td><button id="add" class="btn-success" ng-click="register()">Add New</button></td>
                <td><button id="add" ng-click="remove()" class="btn-danger"> Remove</button></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><button id="add" ng-click="connect()" class="btn-primary"> Connect</button></td>
                <td><button id="add" ng-click="send()" class="btn"> Send</button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<footer class="container">
  <p>Footer Text</p>
</footer>

</body>
</html>
