<!--<div ng-controller="deviceCtrl">-->
    <!--<div class="container" >    
      <div class="row content" style="margin: 3px;">-->
    

        

        <div class="col-sm-10">
            <form>
            <div class="col-sm-6">
                <table class="table table-borderless" >
                    <tr>
                        <td>Config Server IP Address</td>
                        <td> <input type='text' class="form-control" ng-model="common_config.TS_IPADDR" readonly></td>
                    </tr>
                </table>               
            </div>
            <div class="col-sm-3">
                <table class="table table-borderless" >
                    <tr>
                        <td>GPS</td>
                        <td> <input type='checkbox' class="form-control" ng-model="common_config.GPS_EN_STATUS"></td>
                    </tr>
                </table>               
            </div>
            <div class="col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">WiFi- Settings</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <table class="table table-borderless" >
                                <tr>
                                    <td>Network Name</td>
                                    <td> <input type='text' class="form-control" ng-model="common_config.WIFI_NAME"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-borderless" >
                                <tr>
                                    <td>Network Password</td>
                                    <td> <input type='password' class="form-control" ng-model="common_config.WIFI_PASSWORD"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Device Details</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <table class="table table-borderless" >
                                <tr>
                                    <td>Device ID</td>
                                    <td> <input type='text' class="form-control" readonly ng-model="common_config.DEVICEID"></td>
                                </tr>

                                <tr>
                                    <td>Device Category</td>
                                    <td> <input type='text' class="form-control" ng-model="common_config.DEVICE_CATEGORY"></td>
                                </tr>

                                <tr>
                                    <td>Platform</td>
                                    <td>
                                        <select class="form-control" ng-model="common_config.PLATFORM_SUPPORTED">
                                            <option value=0>Freeboard</option>
                                            <option value=1>Coutineo</option>
                                            <option value=2>Custom</option>
                                        </select>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-borderless" >
                                <tr>
                                    <td>Device Name</td>
                                    <td> <input type='text' class="form-control" ng-model="common_config.DEVICE_ALIAS_NAME"></td>
                                </tr>
                                <tr>
                                    <td>Installed Location</td>
                                    <td> <input type='text' class="form-control" ng-model="common_config.INSTALLED_LOCATION"></td>
                                </tr>
                                <tr>
                                    <td>Data Tx Rate: </td>
                                    <td><select class="form-control" ng-model="common_config.DATA_XMIT_FREQ">
                                        <option  value='' selected>Select</option>
                                        <option value='0'>1 Min</option>
                                        <option value='1'>2 Min</option>
                                        <option value='2'>3 Min</option>
                                        <option value='3'>4 Min</option>
                                        <option value='4'>5 Min</option>
                                        <option value='5'>10 Min</option>
                                        <option value='6'>15 Min</option>
                                        <option value='7'>20 Min</option>
                                        <option value='8'>25 Min</option>
                                        <option value='9'>30 Min</option>
                                        <option value='10'>1 Hour</option>
                                        <option value='11'>5 Hours</option>
                                        <option value='12'>10 Hours</option>
                                        <option value='13'>15 Hours</option>
                                        <option value='14'>20 Hours</option>
                                        <option value='15'>24 Hours</option>
                                    </select>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>

                    </div>

                </div>
            </div>
            
            <div class="col-sm-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Data Server Details</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-if="common_config.PLATFORM_SUPPORTED==0">
                            <div class="col-sm-6">
                                <table class="table table-borderless" >
                                    <tr>
                                        <td>Thing Name</td>
                                        <td> <input type='text' class="form-control" ng-model="common_config.FREEBOARD_THING_NAME"></td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-sm-6">
                                <table class="table table-borderless" >
                                    <tr>
                                        <td>Key Id</td>
                                        <td> <input type='text' class="form-control" ng-model="common_config.FREEBOARD_KEY_ID"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div ng-if="common_config.PLATFORM_SUPPORTED==1">
                            <div class="col-sm-6">
                                <table class="table table-borderless" >
                                    <tr>
                                        <td>Protocol</td>
                                        <td>
                                            <select class="form-control" ng-model="common_config.PROTOCOL_SELECTED">
                                                <option value='0' selected>TCP</option>
                                                <option value='1'>HTTP</option>
                                                <option value='2'>MQTT</option>
                                                <option value='3'>COAP</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Data Format</td>
                                        <td> 
                                            <select class="form-control" ng-model="common_config.DATA_FORMAT">
                                                <option value='0'>JSON</option>
                                                <option value='1'>XML</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table class="table table-borderless" >
                                    <tr>
                                        <td>Url</td>
                                        <td> <input type='text' class="form-control" ng-model="common_config.DS_URL"></td>
                                    </tr>
                                    
                                </table>
                            </div>
                        </div>
                        <div ng-if="common_config.PLATFORM_SUPPORTED==2">
                            
                        </div>

                    
                        
                        

                    </div>

                    
                </div>
            </div>


            <!--<div class="col-sm-4">
                
            </div>-->

            
            </form>
        </div>

        
  <!--</div>-->

